  <h2>Appointment</h2>

  <button-control text="Add" icon="add" color="primary" class="add-button" (click)="onAdd()"></button-control>
  <button-control text="Initialize" icon="playlist_add" color="primary" class="add-button" (click)="onDataInitialize()"></button-control>

  <table mat-table [dataSource]="appointments" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef> Patient </th>
      <td mat-cell *matCellDef="let element"> {{element.patient.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef> Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.doctor.name}} </td>
    </ng-container>

    <ng-container matColumnDef="appointmentDate">
      <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
      <td mat-cell *matCellDef="let element"> {{element.appointmentDate | date:"dd-MM-yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="table-button">
        <button-control text="Edit" icon="edit" (click)="onEdit(element)"></button-control>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="table-button">
        <button-control text="Delete" icon="delete" color="warn" (click)="onDelete(element)"></button-control>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="['patient', 'doctor', 'appointmentDate', 'edit', 'delete']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['patient', 'doctor', 'appointmentDate', 'edit', 'delete'];"></tr>
  </table>
