<h1 mat-dialog-title *ngIf="this.action == 'add'">Add Appointment</h1>
<h1 mat-dialog-title *ngIf="this.action == 'edit'">Edit Appointment</h1>
<h1 mat-dialog-title *ngIf="this.action == 'delete'">Delete Appointment</h1>
<form novalidate [formGroup]="form">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Patient</mat-label>
            <mat-select formControlName="patient" [compareWith]="compareIds">
              <mat-option *ngFor="let patient of patients" [value]="patient">
                {{patient.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['patient'].hasError('required')">
                Patient <strong>required</strong>
            </mat-error>
        </mat-form-field>   
        <mat-form-field>
            <mat-label>Doctor</mat-label>
            <mat-select formControlName="doctor" [compareWith]="compareIds">
              <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                {{doctor.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['doctor'].hasError('required')">
                Doctor is <strong>required</strong>
            </mat-error>
        </mat-form-field>   
        <mat-form-field>
            <input matInput type="date" placeholder="Appointment Date" formControlName="appointmentDate">
            <mat-error *ngIf="form.controls['appointmentDate'].hasError('required')">
                Appointment Date is <strong>required</strong>
            </mat-error>
        </mat-form-field>    
    </div>
    <div mat-dialog-actions>
        <button-control text="Save" icon="save" color="primary" (click)="onSave()" *ngIf="this.action != 'delete'"></button-control>
        <button-control text="Delete" icon="delete" color="warn" (click)="onSave()" *ngIf="this.action == 'delete'"></button-control>
        <button-control text="Cancel" icon="cancel" (click)="onCancel()"></button-control>
    </div>
</form>
