.menu-icons {
    height: 36px;
    width: 36px;
    padding-right: 10px;
  }

.menu-name {
    font-size: 18px;
}

.menu-card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;
}

.menu-card:not(:last-child) {
    margin-right: 0;
}

.menu-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

  /* Responsive Styles */
@media screen and (max-width: 767px) {

    .menu-card {
        height: 16px;
        margin: 8px 0;
    }
}
      